<div class="container">
    <div *ngFor="let order of ordenes">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <div>
                            Order Number: {{order.orderNumber}}
                            Status: {{order.fulfillmentStatus}}
                        </div>
                        <div class="shipping-line">
                            {{order.shippingLines[0].method}}
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        {{order.billingAddress.firstName}} {{order.billingAddress.lastName}}
                    </div>

                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Direccion de envio: </h5>
                <p class="card-text">{{order.shippingAddress.address1}}</p>
                <p class="card-text">{{order.shippingAddress.city}}</p>
                <p class="card-text">{{order.shippingAddress.postalCode}}</p>
                <p class="card-text">{{order.shippingAddress.firstName}}</p>
                <p class="card-text">{{order.shippingAddress.lastName}}</p>
                <p class="card-text">Telefono: {{order.shippingAddress.phone}}</p>
                <p class="card-text">Comentarios de entrega: {{order.formSubmission[0].value}}</p>


                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="lead">
                                Items
                            </div>
                            <ul class="list-group" *ngFor='let item of order.lineItems, let i = index'>
                                <li class="list-group-item">Item: {{item.productName}} Cantidad: {{item.quantity}} </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="button-wrapper text-right">
                    <!-- <a  class="button-margin btn btn-danger">Cancelar orden</a> -->
                     
                    <button (click)="fulfillOrder(order, mymodal)"type="button" class="btn btn-outline-danger btn-lg button-margin">Retirar orden</button> 
                    
                    <button *ngIf="order.shippingLines[0].method!='RECOGER EN TIENDA (CALLE SAN ANDRES, 31)'" (click)="createJob(order, mymodal)"type="button" class="btn btn-outline-dark btn-lg button-margin">Enviar a stuart </button>
                   
             
                 
                   
                </div>
            </div>
            <div class="card-footer text-muted">
                {{order.createdOn}}
            </div>
        </div>

        <div class="separator">

        </div>

    </div>



        <div *ngIf="ordersCompleted" class="orders-completed" >
            
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">No hay ordenes pendientes</h5>
                      <button type="button" class="btn btn-outline-success" (click)="refresh()">Refrescar</button>  
                    </div>
    
                  </div>
        </div>
  



</div>



    
    <ng-template #mymodal let-c="close">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Pic&Nic</h4>
        </div>
        <div class="modal-body">
            <div class="text-center" *ngIf="errorDisplay=='loading'">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="text-left" *ngIf="errorDisplay=='error'">
                No se logró hacer el pedido, razones:

                    <li>La dirección no se ingresó correctamente(ingresar la orden manualmente en el dashboard de stuart)</li>
                    <li>La orden esta fuera de los tiempos de trabajo de stuart</li>
                
            </div>
            <div class="text-center" *ngIf="errorDisplay=='success'">
                La solicitud a stuart se envió correctamente
            </div>
            <div class="text-center" *ngIf="errorDisplay=='fulfilled'">
                Se retiró la orden correctamente.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="c('Save click'); refresh();">Ok</button>
        </div>
    </ng-template>