.separator{
    padding: 2rem;
}

.button-wrapper{
    padding-top: 2rem;
}

.button-margin{
    margin: 0.5rem;
}
.modal-header{
    background: black;
    color: white;
    font-weight: bold;

}

.modal-body{
    background: #e3e3e3;
}

.orders-completed{
    padding-top: 5vh;
}

.shipping-line{
    font-weight: bold;
    font-size: large;
}

.pwa-img{
    width: 15%;
    padding-top: 5vh;
    cursor: pointer;
}

.download-prompt{
    font-weight: bold;
}