.separator{
    padding: 2rem;
}

.button-wrapper{
    padding-top: 2rem;
}

.button-margin{
    margin: 0.5rem;
}
.modal-header{
    background: black;
    color: white;
    font-weight: bold;

}

.modal-body{
    background: #e3e3e3;
}